<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:style="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Osztalynaplo</title>
</head>
<body>

<!-- oldalcím -->
<h1>Kosár</h1>
<main id="app">
    <!-- hozzáadás -->
    <div>
        <input type="text" placeholder="Termék neve" v-model="newItem.piece" v-on:keydown.enter="AddNewItem()">
    </div>
    <div>
        <input type="number" placeholder="Darabszám" v-model="newItem.count" v-on:keydown.enter="AddNewItem()">
        <span> db </span>
    </div>
    <div>
        <input type="number" placeholder="Egységár" v-model="newItem.basePrice" v-on:keydown.enter="AddNewItem()">
        <span> Ft </span>
    </div>
    <div>
        <button v-on:click="AddNewItem()">Hozzáadás</button>
    </div>

    <!-- lista -->
    <ul>
        <li v-for="item in itemCollection">{{item.piece}}
            <ul>
                <li>darabszam: {{item.count}}db</li>
                <li>egysegar: {{item.basePrice}}ft</li>
                <li>osszesen: {{item.GetTotalPrice()}}db</li>
            </ul></li>
    </ul>
    <span> Osszesen {{GetTotal()}}</span>
</main>

<script src="vue%20.js"></script>
<script defer src="CartItem.js"></script>
<script defer src="vuekosarscript.js"></script>

</body>

</html>