<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:style="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Osztalynaplo</title>
    <link rel="stylesheet" href="dist/main.css">
</head>
<body>

<main id="app">
    <h1>Kereső</h1>
    <div id="filters">
        <input type="text" id="nameFilter" v-model="nameFilter">
    </div>
    <ol>
        <li v-for="film in GetFilteredList()">{{film}}</li>
    </ol>

</main>

<script src="node_modules/vue/dist/vue.js"></script>
<!--<script defer src="scripts.js"></script>-->
<script defer src="vuekeresoscript.js"></script>
</body>

</html>